<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Upload File</h4>
  <button type="button" class="close" aria-label="Close" [disabled]="busy" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input [disabled]="busy" type="file" required accept=".gcode" (change)="selectedFileChanged($event)" />
  <ngb-progressbar *ngIf="busy" type="primary" [value]="progress"></ngb-progressbar>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="upload()" [disabled]="busy">Upload</button>
</div>
