<h1>Printer Control Panel</h1>
<div *ngIf="connecting" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<h2>Current State</h2>
<div *ngIf="temperatures" class="row">
  <div class="col-4">
    Active Tool Temperature: {{ temperatures.active_hotend_temperature?.current | number: '1.1-1' }}&nbsp;&deg;C (target: {{ temperatures.active_hotend_temperature?.target | number: '1.0-0' }}&nbsp;&deg;C)
  </div>

  <div class="col-4">
    Build Plate Temperature: {{ temperatures.build_plate_temperature?.current | number: '1.1-1' }}&nbsp;&deg;C (target: {{ temperatures.build_plate_temperature?.target | number: '1.0-0' }}&nbsp;&deg;C)
  </div>

  <div class="col-4">
    All Hotends:
    <ul class="pl-3">
      <li *ngFor="let hotend of temperatures.hotend_temperatures">{{ hotend.name }}: {{ hotend.current | number: '1.1-1' }}&nbsp;&deg;C (target: {{ hotend.target | number: '1.0-0' }}&nbsp;&deg;C)</li>
    </ul>
  </div>
</div>
<div *ngIf="!temperatures">Waiting for data</div>

<h2>Command Log</h2>
<pre #logElement style="height: 15rem; padding: 1rem; background: #ccc"></pre>
<div class="input-group">
  <input class="form-control" type="text" [(ngModel)]="command" (keyup.enter)="sendCommand()" placeholder="Enter a G-code command..." />
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="sendCommand()">Send</button>
  </div>
</div>
