<h1>My Prints</h1>

<app-spinner *ngIf="loading"></app-spinner>

<app-alert *ngIf="error" type="danger" [icon]="icons.faExclamationTriangle">{{ error }}</app-alert>

<app-alert *ngIf="!loading && !error && !prints?.length">Your print history is empty.</app-alert>

<table *ngIf="!loading && prints?.length" class="table">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Printed On</th>
      <th>Started</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let print of prints">
      <td>
        <!--suppress TypeScriptValidateTypes -->
        <a *ngIf="print.uploadedFile.byteSize && ('download' | ablePure: (print.uploadedFile | subject: 'UploadedFile') | async ); else noFile" class="link" role="button" (click)="downloadFile(print.uploadedFile.id)" title="Download {{ print.uploadedFile.filename }}">{{ print.uploadedFile.filename }}</a>
        <ng-template #noFile><span title="File has been deleted.">{{ print.uploadedFile.filename }}</span></ng-template>
        <app-print-state-badge [state]="print.status" [pill]="true" class="ml-1"></app-print-state-badge>
      </td>
      <td><a [routerLink]="['/printers', print.printer.id, 'status']">{{ print.printer.name }}</a></td>
      <td><span [ngbTooltip]="print.createdAt | djsDateFormat: 'LLL'">{{ print.createdAt | djsTimeAgo }}</span></td>
      <td>
        <span *ngIf="print.startedAt && print.completedAt">{{ print.startedAt | djsDiff: print.completedAt | djsDuration }}</span>
      </td>
    </tr>
  </tbody>
</table>
