<h1>My Prints</h1>

<app-spinner *ngIf="loading"></app-spinner>

<app-alert *ngIf="error" type="danger" [icon]="icons.faExclamationTriangle">{{ error }}</app-alert>

<app-alert *ngIf="!loading && !error && !prints?.length">You haven't printed anything yet.</app-alert>

<table *ngIf="!loading && prints?.length" class="table">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Started</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let print of prints">
      <td>{{ print.uploadedFile.filename }} <app-print-state-badge [state]="print.status" [pill]="true"></app-print-state-badge></td>
      <td><span [ngbTooltip]="print.createdAt | djsDateFormat: 'LLL'">{{ print.createdAt | djsTimeAgo }}</span></td>
      <td>
        <span *ngIf="print.startedAt && print.completedAt">{{ print.startedAt | djsDiff: print.completedAt | djsDuration }}</span>
      </td>
    </tr>
  </tbody>
</table>
