<div class="container">
  <h1>My Prints</h1>

  <div class="d-flex flex-row mb-2">
    <input class="form-control flex-grow-1" placeholder="Search&hellip;" (keyup)="debounceSearch($event)" />
    <div ngbDropdown>
      <button ngbDropdownToggle class="btn btn-light ml-1">Status</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem class="filter-item" (click)="toggleAll()">
          <fa-icon class="check" *ngIf="all" [icon]="icons.faCheck"></fa-icon>
          All
        </button>
        <button ngbDropdownItem class="filter-item" *ngFor="let item of printStatuses | keyvalue" (click)="toggleStatus(item.key)">
          <fa-icon class="check" *ngIf="item.value.selected" [icon]="icons.faCheck"></fa-icon>
          {{ item.value.name }}
        </button>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th role="button" (click)="order('filename', true)">File Name <fa-icon *ngIf="orderBy === 'filename'" [icon]="ascending ? icons.faCaretUp : icons.faCaretDown"></fa-icon></th>
      <th role="button" (click)="order('printer', true)">Printed On <fa-icon *ngIf="orderBy === 'printer'" [icon]="ascending ? icons.faCaretUp : icons.faCaretDown"></fa-icon></th>
      <th role="button" (click)="order('started_at', false)">Started <fa-icon *ngIf="orderBy === 'started_at'" [icon]="ascending ? icons.faCaretUp : icons.faCaretDown"></fa-icon></th>
      <th>Duration</th>
    </tr>
    </thead>
    <tbody [class.collapsed]="loading || !prints?.length">
    <tr *ngFor="let print of prints">
      <td>
        <!--suppress TypeScriptValidateTypes -->
        <a *ngIf="print.uploadedFile.byteSize && ('download' | ablePure: (print.uploadedFile | subject: 'UploadedFile') | async ); else noFile" class="link" role="button" (click)="downloadFile(print.uploadedFile.id)" title="Download {{ print.uploadedFile.filename }}">{{ print.uploadedFile.filename }}</a>
        <ng-template #noFile><span title="File has been deleted.">{{ print.uploadedFile.filename }}</span></ng-template>
        <app-print-state-badge [state]="print.status" [pill]="true" class="ml-1"></app-print-state-badge>
        <span class="d-inline-block ml-1" *ngIf="print.cancellationReason || print.cancellationReasonDetails">
          <ng-template #tooltip>
            <div>Cancellation reason:</div>
            <div *ngIf="print.cancellationReason">{{ print.cancellationReason.name }}</div>
            <div *ngIf="print.cancellationReasonDetails">{{ print.cancellationReasonDetails }}</div>
          </ng-template>
          <fa-icon [ngbTooltip]="tooltip" [icon]="icons.faQuestionCircle"></fa-icon>
        </span>
      </td>
      <td><a [routerLink]="['/printers', print.printer.id, 'status']">{{ print.printer.name }}</a></td>
      <td><span [ngbTooltip]="print.createdAt | djsDateFormat: 'LLL'">{{ print.createdAt | djsTimeAgo }}</span></td>
      <td>
        <span *ngIf="print.startedAt && print.completedAt">{{ print.startedAt | djsDiff: print.completedAt | djsDuration }}</span>
      </td>
    </tr>
    </tbody>
  </table>

  <app-spinner *ngIf="loading"></app-spinner>
  <app-alert *ngIf="error" type="danger">{{ error }}</app-alert>
  <app-alert *ngIf="!loading && prints && !prints.length">
    <ng-container *ngIf="!searched">Your print history is empty.</ng-container>
    <ng-container *ngIf="searched">No prints match your search/filters.</ng-container>
  </app-alert>
</div>
