<h1>My Files</h1>

<div class="file-upload-zone">
  <label for="file-upload">
    <span *ngIf="this.uploadStatus.uploading">
      Uploading '{{this.uploadStatus.fileName}}'&hellip; {{this.uploadStatus.progress | number: '1.1-1' }}%
      <ngb-progressbar type="primary" [value]="this.uploadStatus.progress"></ngb-progressbar>
    </span>

    <span *ngIf="this.uploadStatus.success">
      File '{{this.uploadStatus.fileName}}' uploaded successfully!
    </span>

    <span *ngIf="this.uploadStatus.error">
      Failed to upload: {{this.uploadStatus.error}}
    </span>

    <span *ngIf="!this.uploadStatus.uploading">
      <fa-icon [icon]="icons.faUpload"></fa-icon>
      Drag and drop a G-code file here or click to browse&hellip;
    </span>

    <input id="file-upload" type="file" (change)="upload($event)" accept=".gcode"/>
  </label>
</div>

<div class="files-table mt-3">
  <app-spinner *ngIf="loading"></app-spinner>

  <table *ngIf="!loading && files.length" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Upload Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{file.filename ? file.filename : '&mdash;'}}</td>
        <td>{{bytesToReadable(file.byteSize)}}</td>
        <td>{{file.createdAt | date: 'medium'}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="showSelectPrinterModal(file.id)">Print&hellip;</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!files.length && !loading && !error" class="alert alert-info">
    No results.
  </div>

  <div *ngIf="error" class="alert alert-danger">
    Failed to get files: {{error}}
  </div>
</div>
