.printers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: 1rem;
  justify-content: center;

  .grid-header {
    grid-row: 1;
    grid-column: 1/-1;
  }

  .printer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
