<h1>Printers</h1>

<app-spinner *ngIf="loading"></app-spinner>

<table *ngIf="!loading && printers.length" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Client</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let printer of printers">
      <td><a [routerLink]="printer.id">{{ printer.name }}</a></td>
      <td><app-printer-state-badge [state]="printer.state"></app-printer-state-badge></td>
      <td>
        <a *ngIf="printer.device" [routerLink]="['/clients', printer.device?.client!.id]">{{ printer.device.client!.id }}</a>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!printers.length && !loading && !error" class="alert alert-info">
  No results.
</div>

<div *ngIf="error" class="alert alert-danger">
  Failed to get printers: {{error}}
</div>
