<div class="row">
  <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-12">
    <div class="d-flex align-items-center mt-2 mb-2" *ngIf="printer">
      <h1>
        {{ printer?.name }}
        <small>
          <app-printer-state-badge [state]="printerState?.printer_state" *ngIf="printerState"></app-printer-state-badge>
          <span class="d-inline-flex align-items-center">
            <span class="status-dot status-dot-{{webSocketState}}" [ngbTooltip]="webSocketStateTooltip"></span>
          </span>
        </small>
      </h1>
    </div>
    <div *ngIf="printerState && printerState.temperatures" class="h3">
      <div *ngFor="let hotend of printerState.temperatures.hotend_temperatures" class="badge badge-primary mr-1"><span class="font-weight-normal">{{hotend.name}}</span> {{hotend.current | number: '1.1-1'}}&nbsp;&deg;C <ng-container *ngIf="hotend.target">({{hotend.target | number: '1.0'}}&nbsp;&deg;C)</ng-container></div>
      <div *ngIf="printerState.temperatures.bed_temperature" class="badge badge-primary mr-1"><span class="font-weight-normal">{{printerState.temperatures.bed_temperature.name}}</span> {{printerState.temperatures.bed_temperature.current | number: '1.1-1'}}&nbsp;&deg;C <ng-container *ngIf="printerState.temperatures.bed_temperature.target">({{printerState.temperatures.bed_temperature.target | number: '1.0'}}&nbsp;&deg;C)</ng-container></div>
    </div>
    <div *ngIf="printerState?.progress && printerState?.time_remaining" class="mt-2 mb-3">
      Estimated time remaining: {{ printerState!.time_remaining! * 1000 | djsDuration: true }} ({{ printerState!.progress! * 100 | number: '1.1-1' }}%)
      <ngb-progressbar [value]="printerState!.progress! * 100" [max]="100"></ngb-progressbar>
    </div>
    <button class="btn btn-danger" (click)="cancelPrint()"><fa-icon [icon]="icons.faBan"></fa-icon> Cancel print</button>
    <button class="btn btn-warning ml-1" (click)="reconnect()"><fa-icon [icon]="icons.faSync"></fa-icon> Reconnect</button>
  </div>
</div>
