<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Select Printer</h4>
  <button type="button" class="close" aria-label="Close" [disabled]="busy" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <app-spinner *ngIf="loading && !error"></app-spinner>
  </div>

  <ng-container *ngIf="printers && !busy && !error">
    <ng-container *ngIf="printers.available?.length">
      <h5>Available</h5>
      <div class="printers">
        <app-printer-button *ngFor="let printer of printers.available" [printer]="printer" (click)="startPrint(printer.id)"></app-printer-button>
      </div>
    </ng-container>

    <app-alert *ngIf="!printers.available?.length">No printers are currently available.</app-alert>

    <ng-container *ngIf="printers.busy?.length">
      <hr/>
      <h5>Busy</h5>
      <div class="printers">
        <app-printer-button *ngFor="let printer of printers.busy" [printer]="printer" [routerLink]="['/printers', printer.id, 'status']" (click)="modal.close()"></app-printer-button>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="busy && !error" class="starting-print-spinner">
    <app-spinner></app-spinner>
    <div>Starting your print&hellip;</div>
  </div>

  <div *ngIf="error">
    <app-alert type="danger">{{ error }}</app-alert>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="modal.dismiss()" [disabled]="busy">Cancel</button>
</div>
