<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Select Printer</h4>
  <button type="button" class="close" aria-label="Close" [disabled]="busy" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <app-spinner *ngIf="loading && !error"></app-spinner>
  </div>

  <div *ngIf="printers && !busy && !error" class="printers">
    <div class="printer" *ngFor="let printer of printers">
      <div class="printer-icon"
            [style.background-image]="printer.printerDefinition?.thumbnail?.url ? 'url(' + printer.printerDefinition?.thumbnail?.url + ')' : 'https://via.placeholder.com/150'"></div>
      <div class="printer-name">{{ printer.name }}</div>
      <app-printer-state-badge [state]="printer.state"></app-printer-state-badge>
      <div class="printer-type">{{ printer.printerDefinition?.name }}</div>
      <ng-container *ngFor="let extruder of printer.printerExtruders; let i = index">
        <div class="printer-material">
          <span class="text-muted mr-1" *ngIf="printer.printerExtruders.length > 1">E{{ i + 1 }}:</span>
          <span *ngIf="extruder?.materialColor as materialColor">
            <span class="dot" [style.background-color]="materialColor.color"></span> {{ materialColor.material.name }} ({{ materialColor.name }})
          </span>
          <ng-container *ngIf="!extruder?.materialColor">
            <fa-icon [icon]="icons.faQuestionCircle"></fa-icon> Unknown material
          </ng-container>
        </div>
      </ng-container>
      <button class="select-button btn btn-primary" [disabled]="busy || printer.state !== 'ready'" (click)="startPrint(printer.id)">Select</button>
    </div>
  </div>

  <div *ngIf="busy && !error" class="starting-print-spinner">
    <app-spinner></app-spinner>
    <div>Starting your print&hellip;</div>
  </div>

  <div *ngIf="error">
    <app-alert type="danger">{{ error }}</app-alert>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="modal.dismiss()" [disabled]="busy">Cancel</button>
</div>
