<div class="row">
  <div class="col-12">
    <h2>Materials</h2>

    <div class="mb-2">
      <a class="btn btn-success" routerLink="new"><fa-icon [icon]="icons.faPlus"></fa-icon> Add</a>
    </div>

    <app-spinner *ngIf="loading"></app-spinner>

    <app-alert *ngIf="error" [icon]="icons.faExclamationTriangle" type="danger">{{ error }}</app-alert>
    <app-alert *ngIf="materials && !materials.length" [icon]="icons.faInfoCircle" type="info">No results.</app-alert>

    <table class="table" *ngIf="materials?.length">
      <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let material of materials">
        <td>{{ material.name }}</td>
        <td>{{ material.brand }}</td>
        <td>
          <a role="button" class="btn btn-light" [routerLink]="material.id" title="Edit"><fa-icon [icon]="icons.faEdit"></fa-icon></a>
          <button class="btn btn-danger ml-1" (click)="delete(material)" title="Delete" [disabled]="material.deleting"><fa-icon [icon]="icons.faTrash"></fa-icon></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
