/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.printers-modal {
  display: table;
  min-width: 20%;
  max-width: 80%;
}
